:root {
  text-autospace: normal;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}

.thin-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 999px;
}
